/*内容部分*/
.main .container  {
	padding: 38px 32px 0px;
	box-sizing: border-box;
}
/*内容中的标题部分*/
.main .container .main1-head{
	border-bottom:1px solid #d5d5d5 ;
	color: #333333;
}
.main .container .main1-head h3 {
	font-size: 16px;
	margin-right: 80px;
}
.main .container .main1-head h3::before{
	content:"";
	display: inline-block;
	width: 2px;
	height: 9px;
	margin-right: 7px;	
	background: #866961;
}
.main .container h3 p {
	font-size: 10px;
	color: #999999;
}
.main .container h4{
	font-size: 14px;
	margin-top: 13px;
}
.main .container h4 a{
	color: #999999;;
}
.main .container .content{
	color: #333333;
	padding-bottom:52px;
}
.main .container .content h2{
	font-size: 20px;
	line-height: 80px;
	text-align: center;
}
.main .container .content h3{
	font-size: 14px;
	line-height: 34px;
}
.main .container .content img{
	margin: 15px 0 34px;
}
.main .container .content p{
	font-size: 14px;
	line-height: 30px;
	text-align: justify;
	text-indent: 2em;
	margin-bottom: 30px;
}
